.container {
  width: 100%;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 203px;
}

/* Start Banner Style */

/* Header Text */
#box1 {
  grid-column: 1/4;
  grid-row: 1/3;
}

#box1 h1 {
  width: 487px;
  height: 138px;
  font-size: 42px;
  margin-top: 100px;
  margin-left: 20px;
  font-weight: 500px;
}

/* Text */
#box2 {
  font-weight: 500;
  font-size: 21px;
  margin-top: 100px;
  height: 150px;
  width: 710px;
  justify-self: end;
  grid-column: 4 / 9;
  grid-row: 1 / 3;
}

#box4 {
  font-weight: 500;
  font-size: 21px;
  height: 150px;
  width: 710px;
  justify-self: end;
  grid-column: 4 / 9;
  grid-row: 3 / 5;
}

/* Image */

#img1 {
  width: 820px;
  height: 430px;
  grid-column: 1/6;
  grid-row: 6/9;
  margin-left: 20px;
}

#img2 {
  width: 820px;
  height: 430px;
  grid-column: 4/9;
  grid-row: 8/11;
}

.img {
  width: 100%;
  height: 100%;
  position: relative;
}

/* End Banner Style */

.line {
  color: grey;
  width: 98%;
  margin: 100px auto 0 auto;
}

/* RESPONSIVE SECTION */

@media (max-width: 1280px) /* smartphones, iPhone, portrait 480x320 phones */ {
  .container {
    height: 100%;
  }

  .content {
    display: block;
    height: auto;
  }
  #box1 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
  #box1 h1 {
    width: 98%;
    margin: 0 auto;
    height: auto;
    padding-top: 122px;
    font-size: 32px;
  }
  #box2 {
    margin: 0 auto;
    width: 95%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 21px;
  }
  #box4 {
    margin: 0 auto;
    width: 95%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 21px;
  }
  .figure {
    width: 100%;
    height: auto;
  }
  #img1 {
    width: 100%;
    margin-left: 0;
  }

  #img2 {
    right: 0;
    top: 0;
    width: 100%;
    margin-bottom: 100px;
  }
}

@media (min-width: 1280px) /* hi-res laptops and desktops */ {
  #box2 {
    font-size: 32px;
    margin-top: 200px;
    height: 227px;
    width: 978px;
    grid-column: 4 / 9;
    grid-row: 1 / 3;
    margin-right: 20px;
  }

  #box4 {
    font-size: 32px;
    height: 227px;
    width: 978px;
    grid-column: 4 / 9;
    grid-row: 3 / 5;
    margin-right: 20px;
  }

  #img1 {
    grid-column: 1/5;
    grid-row: 6/14;
    width: 100%;
    height: auto;
  }
  #img2 {
    width: 100%;
    height: auto;
    grid-column: 0;
    justify-self: end;
    grid-row: 11/18;
    margin-right: 20px;
  }
}
